@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Poppins:ital,wght@0,400;0,600;1,500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background: rgb(20, 20, 22);
  color: white;
  min-height: 100vh;
  font-family: 'Josefin Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}
:root {
  --color-sec: rgb(172, 17, 233);
}
a:hover {
  color: var(--color-sec);
}
@media (max-width: 600px) {
  .wave {
    fill: rgb(0, 0, 0);
    width: 100vw;
    height: 60vh;
    position: fixed;
    bottom: 0;
    left:0;

  }
  .footer {
    position:relative;
  }
}
